.currency-change {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 2rem;

  .currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;

    input[type="number"] {
      padding: 8px;
      width: 120px; /* Adjust width as needed */
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
    }

    select {
      padding: 8px;
      width: 150px; /* Adjust width as needed */
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}